* {
  margin: 0px;
  padding: 0px;
   font-family: 'League Spartan', sans-serif;
  font-size: 14px;
  color: #6B306B;
}
.section-1 {
   height: 100%;
  display: flex;
 justify-content: center;  
}

h1{
    font-size: 40px;
}

.puntuacion{
  max-width: 1000px;
  display: flex;
  padding: 50px;
  padding: 50px 20px;
  gap: 150px;
}

.puntuacion-titulares
{ 
 min-width: 200px;
 width: 45%;
 justify-content: left;
}

 .puntuacion-titulares p{
  font-weight: 50;
  line-height: 1.4;
 }

.puntuacion-estrella{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 20px;
  text-align: center;
  padding: 20px;
  min-width: 300px;
  width: 65%;
}

.estrella1, .estrella2, .estrella3{
  display: flex;
  gap: 10px; 
  border-radius: 10px;
  background-color: rgb(255, 245, 245);
  padding: 10px;
  
  }
.estrella1{
 align-items: center;  
  width: 70%;
  
}
.estrella2{
  align-items: center; 
  margin-left: 30px;
  width: 70%;
  
}
.estrella3{
  display: flex;
  margin-left: 50px;
   width: 73%;
   align-items: center; 
}


.section-2{
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.bloque-opiniones {
  display: flex;
 
  gap: 20px;
  flex-wrap: wrap;
  background-color: aquamarine;
}

.opinion {
  background-color:#511f50;
  color: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1.5;
  min-width: 280px;
  min-height: 200px;
}

.usuario {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  text-align: center;
}

.usuario img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.opinion strong{
  color: white;
  line-height:1.5;
}
.opinion p{
  color: white;
  line-height:1.5;
}
.usuario span {
  color: #d49edd;
  font-size: 14px;
}
 .opinion:nth-child(1){text-align:left;}
 .opinion:nth-child(2){text-align: center;}
 .opinion:nth-child(3){text-align: right;}

